<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585286573031-0ojmgq0ogp9bcebqsuj4bjacp4p5ipoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585286573031-0ojmgq0ogp9bcebqsuj4bjacp4p5ipoj</string>
	<key>API_KEY</key>
	<string>AIzaSyCkyzyXOC7650piGaLm0Dhb5WI2NhcdkJI</string>
	<key>GCM_SENDER_ID</key>
	<string>585286573031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>t.com.instragram-t</string>
	<key>PROJECT_ID</key>
	<string>insta-t-2022-2</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-t-2022-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:585286573031:ios:40490932c147d4a5a8bb42</string>
</dict>
</plist>
